body {
  background-color: #EEEEEE;
}

h1 {
  color: #141E61;
}

h3 {
  color: #EEEEEE;
  background-color: #787A91;
  letter-spacing: 3px;
  padding: 2px;
  padding-left: 10px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #787A91;
  width: 5%;
}

li {
  padding: 5px;
}
